@import "tailwindcss";

@font-face {
  font-family: "Syne-ExtraBold";
  src: url("/fonts/Syne-ExtraBold.woff2");
}

@font-face {
  font-family: "SyneMono-Regular";
  src: url("/fonts/SyneMono-Regular.woff2");
}

@font-face {
  font-family: "Syne-Regular";
  src: url("/fonts/Syne-Regular.woff2");
}

@font-face {
  font-family: "SyneTactile-Regular";
  src: url("/fonts/SyneTactile-Regular.woff2");
}

:root {
  color: #000;
  background-color: #ffffff;

  font-family:
    var(--font-body), Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-accent: #ff3300;
  --font-display: "Syne-ExtraBold", sans-serif;
  --font-body: "Syne-Regular", sans-serif;
  --font-mono: "SyneMono-Regular", monospace;
  --font-secondary: "SyneTactile-Regular", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) var(--color-accent);
  }
}

::selection {
  background: var(--color-accent);
  color: white;
}
